<!-- filepath: views/partials/customerSidebar.hbs -->
<div class="sidebar">
    <div class="customer-info mb-3">
        <h4 class="text-white">{{customer.name}}</h4>
    </div>
    <ul class="sidebar-list">
        <li class="sidebar-item">
            <a class="sidebar-link" href="/customer-rooms">
                <i class="bi bi-door-open"></i> Danh sách phòng
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/booking-history">
                <i class="bi bi-receipt"></i> Lịch sử đặt phòng
            </a>
        </li>
    </ul>
</div>